.gallery{
    overflow: hidden;
    &:hover {
        .img{
            transform: scale(100%);
            transition: ease-in 0.2s;
        }
    }
    &:not(hover) {
        .img{
            transform: scale(110%);
            transition: ease-in 0.2s;
        }
    }
}

.img{
    width: 100%;
    height: 184px !important;
    object-fit: cover;
}

.name{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--textColor);
}

.author{
    font-size: 14px;
    color: var(--descriptionTextColor);
}