.model-viewer{
    position: relative;
    width: 600px !important;
    height: 500px !important;
}

// .canvas{
//     height: 400px !important;
//     width: 100% !important;
// }

.canvas > div > canvas {
    height: 100% !important;
    width: 100% !important;
}

.bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.texture{
    
}

.texture-img{
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
}