.product{
    // height: 323px;
    text-align: center;
    margin-top: 40px;
    min-width: 248px;
}

.img-wrap{
    width: 100%;
    height: 179px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.img-wrap > div:first-child {
    width: 100%;
    height: 100% ;
}

.img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    
}

.product-btn{
    position: absolute;
    top: 40%;
    left: 24%;
    display: none;
    .order-btn{
        margin-top: 10px;
        border: none;
        padding: 18px 37px;
        height: 100%;
        color: #fff;
        background-color: var(--primary);
        font-weight: 500;
        &:hover{
            color: #fff !important;
            border-color: transparent !important;
            background-color: var(--secondary) !important;

        }
    }
}

.img-wrap:hover {
    .img{
        transform: scale(110%);
        transition: ease-in 0.5s;
    }
    .product-btn{
        display: block;
    }
}



.product-name{
    height: 26px;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500;
    color: #5a5a5a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover{
        color: var(--secondary);
        transition: ease 0.4s;
    }
}

.product-star{
    
}

.product-price{
    color: #5a5a5a;
    margin-top: 8px;
    .product-icon{
        font-size: 15px;
    }

    .product-text{
        font-size: 15px;
        font-weight: 600;
        color: var(--secondary);
    }

    .price{
        margin-left: 8px;
        font-size: 15px;
        font-weight: 600;
        color: var(--secondary);
    }
}

.btn{
   
    padding: 18px 30px;
    height: 100%;
    color: #fff;
    background-color: var(--primary);
    font-weight: 500;
    &:hover{
        color: #fff !important;
        border-color: transparent !important;
        background-color: var(--secondary) !important;
  
    }
  }


