.page-title{
    text-align: center;
    position: relative;
}

.image{
    // width: 100%;
    
}

.title{
    width: 100%;
    position: absolute;
    top:35%;
    font-size: 100px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}