.login{
    display: flex;
    margin: 30px 10%;
    background-color: #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    max-height: 100vh;
}

.tab-wrap{
    flex: 3;
}

.tabs{
    width: 100%;
    padding: 2% 21%;
    background-color: transparent;
    min-width: 400px;
    font-size: 20px;
    justify-content: space-between;
    .tab-header {
        font-size: 25px;
        font-weight: 500;
    
        
    }
    .tab-header.ant-tabs-tab-active{
        color: var(--secondary);
    }

    .form {
        margin-top: 10px;
        .form-label {
            margin-bottom: 10px;
            font-size: 17px;
            color: var(--textColor);
           
        }
        .form-input{
            width: 100%;
            padding: 14px 18px;
            color: var(--textColor);
            border-color: #e9e9e9;
            
            
        }
    }
    
}

.login > div:first-child{
    flex: 2;
}

.login-image{
    width: 100%;
    height: 90vh !important;
    object-fit: cover;
}

.tabs > .ant-tabs-tab-active{
    color: var(--secondary);
}

.tabs.tab-list.ant-tabs-nav-wrap.ant-tabs-nav-list {
    width: 100%;
    justify-content: space-between;
}

.tabs.tab-list.ant-tabs-nav-wrap.ant-tabs-nav-list{
    border: none;
}

.btn-wrap  > div > div > div > div{
    text-align: center;
}

.btn{
   
    padding: 18px 30px;
    height: 100%;
    color: #fff;
    background-color: var(--primary);
    font-weight: 500;
    &:hover{
        color: #fff !important;
        border-color: transparent !important;
        background-color: var(--secondary) !important;
  
    }
  }