.product{
    padding: 71px 18.33333%;
    .sort{
        display: flex;
        justify-content: space-between;
        .product-number{
            font-size: 16px;
            color: var(--textColor);
            font-weight: 500;
        }
    }

    .filter-price{
        font-size: 20px;
        color: var(--textColor);
        font-weight: 500;
        margin-bottom: 13px;
    }

    .price-range-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .price-range{
            margin-right: 8px;
            font-size: 16px;
            font-weight: 500;
            color: #5a5a5a;
        }
        .price-range-btn{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
        .btn{
            padding: 3px 31px;
            background-color: var(--secondary);
            border-color: transparent;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            transform: translateY(-8px);
          
        }
        .btn-reset{
            background-color: var(--primary);
         
        }
    }

    .product-category{
        margin-top: 30px;
        .category-item{
            cursor: pointer;
            color: var(--descriptionTextColor);
            font-size: 15px;
            margin: 10px 0;
            &:hover {
                color: var(--textColor);
            }
        }
    }

    .product-search{
        .search-input{
            border: 2px dotted var(--secondary);
            padding: 10px;
        }
    }

    .product-rcm{
        margin-top: 30px;
        .product-item{
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #e0e0e0;
            
        }
        .product-img{
            width: 80px;
            height: 50px;
            object-fit: cover;
        }
        .product-detail{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 18px;
            margin-left: 20px;
        }
        .product-name{
            color: var(--textColor);
            cursor: pointer;
            &:hover{
                color: var(--secondary);
            }
        }
        .product-price{
            color: var(--secondary);
            font-size: 14px;
            font-weight: 500;
        }
    }
    
}

.row-product{
    flex-wrap: wrap;
    .notifications{
        text-align: center;
        font-size: 18px;
        color: var(--descriptionTextColor);
    }
    .pagination {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        
    }

    
}

.btn{
  border: 1px solid #e7e7e7;
  padding: 18px 30px;
  height: 100%;
  color: #fff;
  background-color: var(--primary);
  font-weight: 500;
 
}

.recommend-product{
    margin-top: 40px;
    .recommend-title{
        font-size: 18px;
        font-weight: 500;
        color: var(--descriptionTextColor);
    }
}

.loading {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 320px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.loading-name{
    width: 30% !important;
}

@keyframes loading {
    0%   { background-image: url("../../assets/imgs/loading-1.png"); }
    20%  { background-image: url("../../assets/imgs/loading-2.png"); }
    40%  { background-image: url("../../assets/imgs/loading-3.png"); }
    60%  { background-image: url("../../assets/imgs/loading-4.png"); }
    80%  { background-image: url("../../assets/imgs/loading-5.png"); }
    100% { background-image: url("../../assets/imgs/loading-6.png"); }
}
