.homepage{
    overflow: hidden;
   
}

.carousel-wrap{
    position: relative;
    overflow: hidden;
}

.carousel{
    position: relative;
    max-height: 95vh;
    overflow: hidden;
    box-sizing: border-box;
}


.item-wrap{
    height: 100%;
}

.block {
    position: relative;
}

.image-carousel{
    
    width: auto;
    height: 95vh;
   
}

.service{
    padding: 20px 20% 80px 20%;
    margin-top: -10px;
    background-color: #f5f5f5;
}

.service-title{
    text-align: center;
    font-size: 35px;
    font-weight: 500;   
    .text-highlight{
        font-weight: 600;
        color: var(--secondary);
    } 
}

.service-description{
    padding: 0 10%;
    text-align: center;
    color: var(--textColor);
    font-size: 15px;
}

.project{
    padding: 20px 20% 80px 20%;
}



@media only screen and (max-width : 992px) {
    .hight-rate-menu{
        padding: 0 0%;
    }
}

@media only screen and (max-width : 480px) {
    .hight-rate-menu{
        padding: 0 18.3333333%;
    }
}

