.rcm-product{
    margin-bottom: 50px;
    padding: 0 16%;
   text-align: center;
}

.rcm-title{
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
    font-weight: 600;
}

.title{
    font-size: 20px;
}

.more{
    cursor: pointer;
    &:hover{
        color: black;
    }
}